{% extends 'base.html.twig' %}

{% block title %}Setlistify{% endblock %}

{% block header %}Latest events for {{artist.name}}{% endblock %}

{% block body %}

    <hr />

    <div class="container">
        <div class="row">
            <div class="col ">
                <table class="table justify-content-center">
                    <thead>
                        <tr>
                            <td>Date</td>
                            <td>Event</td>
                            <td># Songs</td>
                            <td>&nbsp;</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for setlist in setlists.setlist %}
                            <tr>
                                <td>{{ setlist.eventDate | date("Y/m/d") }}</td>
                                <td>{{ setlist.artist.name }} at {{ setlist.venue.name }}</td>
                                <td>{{ setlist.songCount }}</td>
                                <td><a href="{{path('setlist_preview',{'setlistId': setlist.id,'artist': setlist.artist.name})}}" ><i data-feather="eye"></i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>  

        <pager></pager>
    </div>


{% endblock %}