{% extends 'base.html.twig' %}

{% block title %}Setlistify{% endblock %}

{% block header %}Your setlists{% endblock %}

{% block body %}

    <hr />
        <div class="col">
            {% set elements = 0 %}
            {% for setlist in setlists %}
                {% set elements = elements +1 %}
                {% if (loop.index0 is even)  %}
                    <div class="row">
                    {% endif %}
                <div class="card m-auto m-1" style="width: 48%;">
                        <div class="card-body">
                            <h5 class="card-title">{{ setlist.name |capitalize }}</h5>
                            <p class="card-text">
                                <iframe src="https://open.spotify.com/embed/playlist/{{setlist.spotifyId}}&theme=white" width="660px" height="250px" frameborder="1" allowtransparency="true" allow="encrypted-media"></iframe>
                            </p>
                            <a href="{{ path('setlists_see',{'id' : setlist.id}) }}">See playlist</a>
                        </div>
                    </div>  
                    {% if (loop.index0 is odd)  %}
                    </div>
                    <br />
                {% endif %}
            {% endfor %}
            {% if (elements is odd)  %}
            <div class="card m-auto m-1" style="width: 48%; min-height: 370px">
                    <div class="card-body">
                        <h5 class="card-title">Add new playlist</h5>
                        <p class="card-text">
                        </p>
                        <a href="{{ path('setlists_new') }}">Add playlist</a>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if (total > itemsPerPage) %}
            <pager url="{{path('setlists',{'paginate': 1})}}" total="{{ total }}" items-per-page="{{ itemsPerPage }}" page="{{ page }}"></pager>
            {% endif %}
        </div>
    
{% endblock %}