{% extends 'base.html.twig' %}

{% block title %}Setlistify{% endblock %}

{% block header %}
    {% trans %}
        Your setlists
    {% endtrans %}
{% endblock %}

{% block body %}

    <hr />
        <div class="col" style="min-height: 770px">
            {% set elements = 0 %}
            {% for setlist in setlists %}
                {% set elements = elements +1 %}
                {% if (loop.index0 is even)  %}
                    <div class="row">
                {% endif %}
                <div class="col-md-6">
                    <div class="card card-back m-auto m-1">
                        <div class="card-body">
                            <h5 class="card-title">{{ setlist.name |capitalize }}</h5>
                            <p class="card-text">
                                <iframe src="https://open.spotify.com/embed/playlist/{{setlist.spotifyId}}&theme=white" width="100%" height="250px" frameborder="1" allowtransparency="true" allow="encrypted-media"></iframe>
                            </p>
                            <a href="{{ path('setlists_see',{'id' : setlist.id}) }}">{% trans %}See playlist{% endtrans %}</a>
                        </div>
                    </div>
                </div>
                {% if (loop.index0 is odd)  %}
                    </div>
                    <br />
                {% endif %}
            {% else %}
                <div class="alert alert-dark" role="alert">
                    <p class="text-center">
                        {% trans %}You still don't have setlists.{% endtrans %}
                        <a href="{{ path('setlists_new') }}">{% trans %}Create your first setlist{% endtrans %}</a>
                    </p>
                </div>
            {% endfor %}
            {% if (elements is odd)  %}
                <div class="col-md-6">
                    <div class="card m-auto m-1" style="min-height: 370px">
                        <div class="card-body">
                            <h5 class="card-title">{% trans %}Add new playlist{% endtrans %}</h5>
                            <p class="card-text">
                            </p>
                            <a href="{{ path('setlists_new') }}">{% trans %}Add playlist{% endtrans %}</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        {% if (total > itemsPerPage) %}
            <pager url="{{path('setlists',{'paginate': 1})}}" total="{{ total }}" items-per-page="{{ itemsPerPage }}" page="{{ page }}"></pager>
        {% endif %}
{% endblock %}