{% extends 'base_cover.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('cover') }}
{% endblock %}

{% block title %}Setlistify{% endblock %}

{% block body %}
  
    <p class="lead">{% trans %}Discover what your favorite artists have played live{% endtrans %}</p>
    <p class="lead">{% trans %}Create a Spotify playlist for that setlist{% endtrans %}</p>
    <p class="lead">{% trans %}Get ready for the show{% endtrans %}</p>
    <p class="lead">
        <a href="{{path('app_login')}}" class="btn btn-lg btn-secondary">{% trans %}Sign in{% endtrans %}</a>
    </p>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('cover') }}
{% endblock %}