{% extends 'base_cover.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('cover') }}
{% endblock %}

{% block title %}Setlistify{% endblock %}

{% block body %}
  
    <p class="lead">Discover what your favorite artists have played live</p>
    <p class="lead">Create a Spotify playlist for that setlist</p>
    <p class="lead">Get ready for the show</p>
    <p class="lead">
      <a href="{{path('app_login')}}" class="btn btn-lg btn-secondary">Sign in</a>
    </p>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('cover') }}
{% endblock %}