<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" href="img/favicon.png">
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet"> 
        <title>{% block title %}Setlistify{% endblock %}</title>

        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>
    <body class="text-center">
        <div id="app" class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="masthead mb-auto">
                <div class="inner">
                    <h1 class="masthead-brand header_text">Setlistify</h1>
                    <nav class="nav nav-masthead justify-content-center">
                        <a class="nav-link {% if (app.request.attributes.get('_route') == 'contact') %} active {% endif %}" href="{{ path('contact') }}">
                            {% trans %}
                                Contact
                            {% endtrans %}
                        </a>
                        <a class="nav-link {% if (app.request.attributes.get('_route') == 'app_register') %} active {% endif %}" href="{{ path('app_register') }}">
                            {% trans %}
                                Register
                            {% endtrans %}
                        </a>
                        <a class="nav-link {% if (app.request.attributes.get('_route') == 'app_login') %} active {% endif %}" href="{{ path('app_login') }}">
                            {% trans %}
                                Sign in
                            {% endtrans %}
                        </a>
                            <a class="nav-link dropdown-toggle" href="" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="flag-icon flag-icon-us"> </span> {% trans %} Lenguaje {% endtrans %}</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown09">
                            <a class="dropdown-item" href="#fr">
                                <span class="flag-icon flag-icon-fr"> </span>  en
                            </a>
                            <a class="dropdown-item" href="#fr">
                                <span class="flag-icon flag-icon-fr"> </span>  es
                            </a>
                        </div>
                        
                    </nav>                    
                </div>
            </header>

            <main role="main" class="inner cover">
                {% block body %}{% endblock %}
            </main>

            <footer class="mastfoot mt-auto">
                <div class="inner">
                    <p>{% trans %}Developed by{% endtrans %} <a href="mailto://iribarren.aritz@gmail.com">Aritz Iribarren Galarza</a>.</p>
                    <p>{% trans %}Cover template for {% endtrans %}<a href="https://getbootstrap.com/">Bootstrap</a>, {% trans %} by {% endtrans %} <a href="https://twitter.com/mdo">@mdo</a>.</p>
                    <p>{% trans %}Photo by {% endtrans %}<a href="https://snapwiresnaps.tumblr.com/">Snapwire</a>.</p>
                </div>
            </footer>
        </div>

        {% block lib_javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
